.addProductButton {
  background-color: #9a0000; /* Darker, less bright red */
  color: white;
  border: none;
  padding: 8px 15px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 0.9em;
  transition: all 0.2s ease;
}

.addProductButton:hover {
  background-color: #7d0000; /* Darker red for hover */
}

.addProductButton:active {
  background-color: #630000; /* Even darker red when clicked */
}
