.addCategoryButton {
  background-color: #9a0000; /* Darker, less bright red */
  border: none;
  color: white;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
  transition: all 0.2s ease;
}

.addCategoryButton:hover {
  background-color: #7d0000; /* Darker red for hover */
}

.addCategoryButton:active {
  background-color: #630000; /* Even darker red when clicked */
}
